<div class="block-ui-template">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 load-resource">
        <img src="assets/img/loading-bancolombia.gif">
        <div>
          <p>Nos encontramos validando tus datos, mientras tanto te compartimos una información valiosa para tu educación financiera.
            </p>
          <h3 class="blue">Pagar a tiempo tus créditos, es la mejor referencia que puede tener Bancolombia de ti, además te permite tener
            un buen historial crediticio</h3>
        </div>
      </div>
    </div>
  </div>
</div>